.fo-header h1 {
    color: white !important;
}
.fo-header p {
    color: white !important;
    font-size: 16px;
}
.fo-header .input-filter {
    text-align: center;
}
.fo-content {
    padding-bottom: 30px;
}