.wrapper-navbar {
    margin-bottom: 40px;
}
.wrapper-navbar h1 {
    color: white !important;
}

.content {
    margin-bottom: 50px !important;
}

.warung-slider .carousel-item {
    height: 300px !important;
}
.warung-slider {
    margin-top: -20px;
}
.warung-menu {
    background-color: #962EAF;
    text-align: center;
}
.warung-menu ul {
    margin-top: 10px;
    padding: 0;
}
.warung-menu ul li {
    display: inline;
}
.warung-menu ul li a {
    color:white;
    padding: 20px 40px !important;
}
.warung-nama {
    font-size: 22px;
    margin-top: 20px;
}
.warung-menu-list .col-12{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.MuiCardHeader-title-39 {
    font-size: 16px !important;
    font-weight: bold !important;
}

.fo-content a:hover {
    text-decoration: none !important;
}

.loader {
    text-align: center;
}

.ant-row.ant-form-item {
    padding:0 !important;
    margin-bottom: 0 !important;
}
.header-wrapper {
    margin-bottom: 0px;
}
.profile-wrapper .ant-row {
    text-align: left;
}
.profile-wrapper label {
    font-weight: bold !important;
}
.btn-facebook {
    background-color: #3b5998 !important;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    width: 100%;
}
.btn-google {
    background-color: #db3236 !important;
    color: white;
    border: none;
    padding: 6px 20px 8px 20px;
    border-radius: 4px;
    width: 100%;
}

.ant-avatar.ant-avatar-lg {
    width: 100px !important;
    height: 100px !important;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 50%;
}

.btn-tambah-warung {
    position: absolute;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 3px red;
}